---
layout: base
permalink: /index.html
title: 'Your Zettelkasten, Your Personal Idea Machine.'
description: 'Eleventy starter using modern CSS, fluid type, fluid spacing, flexible layout and progressive enhancement.'
blog:
  title: '👇 Start Here'
  intro: "Dive in and grow your ideas with every post."
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">

    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>

  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h2 id="an-eleventy-starter">👋 Welcome</h2>
      <p>
        Life is messy. Work is busy. Your brain is full.<br>
        Your Zettelkasten? That’s your ally.<br>
        It connects your thoughts, sparks new ideas, and turns everyday notes into your personal think-tank.<br>
      </p>
      <p>
        This blog? It’s your guide.<br>
        To building it. Using it. Growing with it.<br>
      </p>
    </div>
  </article>

  <section class="full | region">
    <div class="wrapper flow prose">
      <h2>{{ blog.title }}</h2>
      <!-- blog intro text is optional. -->

      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}

      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          <!-- loop posts -->
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
						{% set definedDate = item.date %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
